.container{
    width: 300px;
    height: 300px;
    margin: 100px auto;
}

.dial{
    position: relative;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    border: 3px solid #000000;
    border-radius: 50%;
}

.secondHand{
    width: 40%;
    height: 1px;
    position: relative;
    top: 100px;
    left: 100px;
    border: 1px solid #ff0000;
    transform-origin: 0 0;
}
.minuteHand{
    width: 40%;
    height: 3px;
    position: relative;
    top: 100px;
    left: 100px;
    border: 1px solid #2c2929;
    transform-origin: 0 0;
}
.hourHand{
    width: 40%;
    height: 3px;
    position: relative;
    top: 92px;
    left: 100px;
    border: 1px solid #2c2929;
    transform-origin: 0 0;
}
